body {
  padding: 6.5em 0 0 0;
  width: 180px;
  margin: 0 auto;
  font-family: Arial,sans-serif;
}

.form-item {
  position: relative;
  margin-bottom: .5em;
}
.form-item input:focus {
  outline: none;
  -webkit-box-shadow: inset 0 -0.25em 0.5em #e5f0ff;
  box-shadow: inset 0 -0.25em 0.5em #e5f0ff;
}
.form-item label, .form-item input {
  display: inline-block;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}
.form-item input {
  margin-top: 5px;
  padding: 6px 15px;
  border: 1px solid #999999;
  border-radius: 16px;
  line-height: 20px;
  font-size: 14px;
  color: #222;
}
.form-item label {
  position: absolute;
  top: 12px;
  left: 17px;
  padding: 0 2px;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: .125em;
  color: #999999;
  background: #fff;
  pointer-events: none;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
}
.form-item.data label, .form-item.focus label {
  -webkit-transform: translateY(-17px) scale(0.75);
  -ms-transform: translateY(-17px) scale(0.75);
  transform: translateY(-17px) scale(0.75);
}
.form-item.data label {
  color: #999999;
}
.form-item.focus input {
  border-color: #0066ff;
}
.form-item.focus label {
  color: #0066ff;
}
